<div class="myhomepage">
 
  <div class="main-menu" [class.stiky]="navIsFixed">
    <div class="menu-main">
      <div class="main-menu-left">
        <i class="material-icons btn-bur">menu</i>
        <img src="assets/logo_mineko.svg" routerLink="/" class="logo" title="Nebenkostenabrechnung prüfen lassen bei MINEKO" alt="Nebenkostenabrechnung prüfen lassen bei MINEKO">
      </div>
      <div class="main-menu-space"></div>
      <div class="main-menu-right">
        <div class="main-menu-trust">
          <span><a href="/press">Bekannt aus: </a></span>
          <a href="/press" target="_blank"><img src="assets/press_drund.svg" alt="press_drund"></a>
          <a href="/press" target="_blank"><img src="assets/press_faznet.svg" alt="press_faznet"></a>
          <a href="/press" target="_blank"><img src="assets/press_focus.png" alt="press_focus"></a>
        </div>
        <div class="main-menu-butt">
          <ul class="main-menu-link" [class.slideright]="slideright">
            <i class="material-icons btn-clo">close</i>
            <li class="buttmenu">
            <a class="btnmenu" href="https://www.MINEKO.de/ratgeber-mietnebenkostenabrechung/">Ratgeber Nebenkosten <i class="material-icons">keyboard_arrow_down</i></a>
            <ul class="submenu">
              <li><a href="https://www.MINEKO.de/nebenkostenabrechnung-pruefen-lassen/">Nebenkosten prüfen</a></li>
              <li><a href="https://www.MINEKO.de/betriebskostenabrechnung-pruefen-lassen/">Betriebskosten prüfen</a></li>
              <li><a href="https://www.MINEKO.de/widerspruch-nebenkostenabrechnung/">Widerspruch</a></li>
              <li><a href="https://www.MINEKO.de/fristen-der-nebenkostenabrechnung/">Fristen</a></li>
              <li><a href="https://www.MINEKO.de/widerspruch-heizkostenabrechnung/">Heizkostenabrechnung</a></li>
              <li><a href="https://www.MINEKO.de/lexikon/">Lexikon</a></li>
              <li><a href="https://www.MINEKO.de/betriebskostenspiegel/">Betriebskostenspiegel</a></li>
              <li><a href="https://www.MINEKO.de/nebenkosten-pro-quadratmeter/">Nebenkosten pro m²</a></li>
              <li><a href="https://www.MINEKO.de/nebenkosten-nach-staedten-und-laendern/">Nebenkosten lokal</a>
              </li>
            </ul>
          </li>
            <li class="buttmenu">
              <a class="btnmenu" href="/leistungen">Leistungen <i class="material-icons">keyboard_arrow_down</i></a>
              <ul class="sub-menu">
                <li><a href="https://www.MINEKO.de/ueberblick/">Überblick</a></li>
                <li><a href="https://www.MINEKO.de/leistungen/">Leistungen</a></li>
                <li><a href="https://www.MINEKO.de/preise/">Unser Preis</a></li>
                <li><a href="https://www.MINEKO.de/vergleich-MINEKO-mieterschutzbund-anwalt/">Leistungsvergleich</a></li>
              </ul>
            </li>
            <li class="buttmenu">
              <a class="btnmenu" href="https://www.MINEKO.de/ueber-uns/">Über uns <i class="material-icons">keyboard_arrow_down</i></a>
              <ul class="sub-menu">
                <li><a href="https://www.MINEKO.de/pressebereich/">Pressebereich von MINEKO</a></li>
                <li><a href="https://www.MINEKO.de/kontakt/">Kontakt</a></li>
                <li><a href="https://www.MINEKO.de/haeufige-fragen/">Häufige Fragen</a></li>
                <li><a href="https://www.MINEKO.de/unsere-experten/">Unsere Experten</a></li>
              </ul>
            </li>
            <li class="buttmenu">
              <a class="btnmenu" href="https://www.MINEKO.de/news/">News <i class="material-icons">keyboard_arrow_down</i></a>
              <ul class="sub-menu">
                <li><a href="/grundsteuer-laesst-nebenkosten-steigen/">Grundsteuer</a></li>
                <li><a href="/kosten-fuer-wasser-und-abwasser-bei-der-nebenkostenabrechnung/">Wasser und Abwasser</a></li>
                <li><a href="/verteilerschluessel-der-nebenkostenabrechnung/">Verteilerschlüssel</a></li>
                <li><a href="/heizkosten-bei-der-nebenkostenabrechnung/">Heizkosten</a></li>
                <li><a href="/nicht-umlagefaehige-nebenkosten/">Nicht Umlagefähige NK</a></li>
              </ul>
            </li>


          </ul>
          <button class="main-menu-cta btn-cta" routerLink="/empirica">Jetzt prüfen lassen <span>&#187;</span></button>
        </div>
      </div>
    </div>
  </div>

  <div class="homepage">
   
    <div class="main-head">
      <div class="head-back"></div>
      <div class="head-cont">
        <div class="head-boxe">
          <h1 class="">Nebenkostenabrechnung prüfen lassen und Geld vom Vermieter zurück erhalten.</h1>
          <ul class="">
            <li><i class="material-icons">check</i> 81 % aller Nebenkostenabrechnungen sind falsch!</li>
            <li><i class="material-icons">check</i> Nebenkostenabrechnungen sind im Schnitt <span class="nowrap">um € 221,- zu hoch</span></li>
            <li><i class="material-icons">check</i> Prüfung durch unsere Experten in nur 48 h</li>
            <li><i class="material-icons">check</i> Prüfbericht incl. Widerspruchsschreiben für einmalig € 39,-</li>
          </ul>
          <button class="head-boxe-cta btn-cta" routerLink="/ticket">jetzt prüfen lassen <span>&#187;</span></button>
          <div class="head-box-trust">
            <div class="trust trust-lock">
              <i class="material-icons">lock</i>
              <span>Sichere Übertragung Ihrer Daten</span>
            </div>
            <div class="trust trust-norton">
              <img src="assets/trust_norton.png" alt="trust_norton">
            </div>
          </div>
        </div>
        <img class="trustone" src="assets/trustone.gif" alt="kundenbewertung">
      </div>
    </div>
    
    <div class="main-info">
      <div class="info-cont">
        <h2 class="info-tito">So funktioniert die Prüfung der Mietnebenkosten<br class="break">abrechnung:</h2>
        <div class="info-boxe">
          <div class="info-boxe-cont">
            <div class="info-boxe-icon">
              <img src="assets/icon_step1.svg" alt="Abrechnung hochladen">
            </div>
            <h3>Abrechnung hochladen</h3>
            <div class="text">Scannen Sie Ihre Betriebskostenabrechnung und Ihren Mietvertrag mit eventuellen Zusatzvereinbarungen einfach ein oder fotografieren sie alles ab. Laden Sie dann Ihre Dokumente auf der MINEKO-Webseite hoch. Sollte etwas fehlen, melden wir uns bei Ihnen.</div>
          </div>
          <div class="info-boxe-cont">
            <div class="info-boxe-icon">
              <img src="assets/icon_step2.svg" alt="Prüfbericht erhalten">
            </div>
            <h3>Prüfbericht erhalten</h3>
            <div class="text"> Im Ergebnis erhalten Sie einen detaillierten &amp; verständlichen Prüfbericht. Er sagt Ihnen, ob Ihre Abrechnung richtig ist oder Sie zu viel zahlen sollen. Der Prüfbericht enthält z.B. eine Berechnungsübersicht und Erläuterungen zur Umlagefähigkeit.</div>
          </div>
          <div class="info-boxe-cont">
            <div class="info-boxe-icon">
              <img src="assets/icon_step3.svg" alt="Geld zurück holen">
            </div>
            <h3>Geld zurückholen</h3>
            <div class="text">Holen Sie sich zuviel gezahltes Geld mit Hilfe des Widerspruchs- und/oder Mahnschreibens von Ihrem Vermieter zurück. Die rechtlichen Begründungen für den Widerspruch haben wir bereits vorbereitet, sie müssen nur noch Kleinigkeiten anpassen.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-whys">
      <div class="whys-more">MINEKO hat bereits 6.547 Nebenkostenabrechnungen geprüft.</div>
      <div class="whys-cont">
        <div class="whys-cta">
          <button class="btn-cta boom" routerLink="/ticket">Jetzt prüfen lassen <span>&#187;</span></button>
        </div>
        <div class="whys-text">
          <h4>Über MINEKO</h4>
          <div class="tito">Für viele Mieter sind die Aufstellung der Kostenpositionen</div>
          <div class="subo">und deren Umlagefähigkeit in ihren Nebenkostenabrechnungen unverständlich und somit wenig nachvollziehbar. Das führt dazu, dass Mieter oftmals zu hohe Voraus- oder Nachzahlungen in Kauf nehmen.</div>
          <div class="tito">Wir bringen Licht in den Nebenkostenschungel,</div>
          <div class="subo">decken Fehler in Ihrer Abrechnung auf und zeigen Ihnen, wie hoch Ihr Einsparpotenzial ist.</div>
          <div class="tito">Unsere MINEKO-Experten besitzen Erfahrungen</div>
          <div class="subo">aus mehreren tausend erfolgreich geprüften Mietnebenkostenabrechnungen und überprüfen Ihre Abrechnung auf formelle und inhaltliche Richtigkeit.</div>
        </div>
      </div>
    </div>
    
    <div class="main-trut">
      <div class="trut-tito">
        <h2 class="trut-tito-text">Was andere Kunden über MINEKO sagen</h2>
        <div class="trut-boxe-star">
          <span class="trut-tito-perc">4.85 / 5.00</span>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star</i>
          <i class="material-icons">star_half</i>
        </div>
      </div>
      <div class="trut-boxe">
        <div class="trut-boxe-cont">
          <div class="trut-boxe-star">
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
<!--
            <i class="material-icons">star_half</i>
            <i class="material-icons">star_border</i>
-->
          </div>
          <h3>Abrechnung falsch, Geld zurück erhalten</h3>
          <div class="text">“Meine Betriebskostenabrechnungen kamen mir schon immer relativ hoch vor. Dem Mieterschutzbund wollte ich aber nur deshalb nicht beitreten. Bekannte haben mich jetzt überreden können, meine Abrechnung prüfen zu lassen und mir von dem Service von MINEKO erzählt. Für den Preis kann man nicht viel falsch machen. Die Prüfung dauerte nur wenige Tage und tatsächlich: meine Abrechnungen waren falsch. Auf Grundlage des Berichts bekomme ich nun meine zu viel gezahlten Kosten erstattet.”</div>
          <div class="person">– Marianne Mierleß aus Oldenburg</div>
        </div>
        <div class="trut-boxe-cont">
          <div class="trut-boxe-star">
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
          </div>
          <h3>Aus Nachzahlung wurde Rückerstattung</h3>
          <div class="text">“Ein großes Dankeschön an MINEKO! Bei meiner letzten Abrechnung sollte ich über 200 Euro nachzahlen. Mein Vermieter begründete diese Nachzahlung mit höheren Kosten, die auf die Mieter umgelegt werden können. Nach der Prüfung durch MINEKO stellte sich heraus, dass die erhöhten Kosten nicht umlagefähig sind. So wurde aus der Nachzahlung eine Rückerstattung und ich kann für dieses Jahr aufatmen.”</div>
          <div class="person">– Josef Greier aus München</div>
        </div>
        <div class="trut-boxe-cont">
          <div class="trut-boxe-star">
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
          </div>
          <h3>Schnell und professionell</h3>
          <div class="text">“...ganz herzlichen Dank für die schnelle und professionelle Arbeit. Ich bin – und das passiert nicht so oft – sehr beeindruckt. Ich wünsche Ihnen weiter viel Erfolg und drücke die Daumen, dass Ihr Geschäft auch nach Ablauf der kostenfreien Testphase erfolgreich durchstartet. Mit bestem Gruß...”</div>
          <div class="person">– Florian Schwiecker, Vice President &#038; Sales Director Germany aus Berlin</div>
        </div>
      </div>
      <div class="trut-scro">
        <div class="circle active"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>

    <div class="main-best">
      <h2 class="main-best-tito">Wie kommen Sie zu einer korrekten<br>Nebenkosten<br class="break">abrechnung?</h2>
      <div class="main-best-cont">
        <div class="best-boxe boxe-firs">
          <div class="best-boxe-tito">Auf eigene Faust</div>
          <div class="best-boxe-subo"></div>
          <div class="best-boxe-face">
            <img src="assets/icon_smile1.svg" alt="icon_smile1">
          </div>
          <div class="best-boxe-list">
            <div class="best-boxe-list-cont">
              <i class="material-icons remove_circle">remove_circle</i>
              <span>Kostenlos, aber stressig und weniger Aussicht auf Erfolg</span>
            </div>
            <div class="best-boxe-list-cont">
              <i class="material-icons remove_circle">remove_circle</i>
              <span>Zeitraubendes und kompliziertes Nachrechnen</span>
            </div>
            <div class="best-boxe-list-cont">
              <i class="material-icons remove_circle">remove_circle</i>
              <span>Langwieriges Abgleichen mit der Betriebskostenverordnung</span>
            </div>
            <div class="best-boxe-list-cont">
              <i class="material-icons remove_circle">remove_circle</i>
              <span>Aufwendige Recherche aktueller rechtlicher Rahmenbedingungen</span>
            </div>
            <div class="best-boxe-list-cont">
              <i class="material-icons remove_circle">remove_circle</i>
              <span>Papierkrieg zu Hause</span>
            </div>
          </div>
        </div>
        <div class="best-boxe boxe-seco">
          <div class="best-boxe-tito">MINEKO</div>
          <div class="best-boxe-subo"></div>
          <div class="best-boxe-face">
            <img src="assets/icon_smile2.svg" alt="icon_smile2">
          </div>
          <div class="best-boxe-list">
            <div class="best-boxe-list-cont">
              <i class="material-icons add_circle">add_circle</i>
              <span>Alles inklusive für 39 € – kein Abo, keine Mitgliedschaft, keine laufenden Zahlungen</span>
            </div>
            <div class="best-boxe-list-cont">
              <i class="material-icons add_circle">add_circle</i>
              <span>Prüfergebnis innerhalb weniger Tage</span>
            </div>
            <div class="best-boxe-list-cont">
              <i class="material-icons add_circle">add_circle</i>
              <span>Prüfbericht weist alle Fehler aus und erläutert verständlich rechtliche Grundlagen</span>
            </div>
            <div class="best-boxe-list-cont">
              <i class="material-icons add_circle">add_circle</i>
              <span>Spezialisierung auf Nebenkostenabrechnungen<br>zusätzlich zu allgemeiner Mietrechtskompetenz<br>Expertise durch Prüfung tausender Abrechnungen</span> 
            </div>
            <div class="best-boxe-list-cont">
              <i class="material-icons add_circle">add_circle</i>
              <span>MINEKO funktioniert zu 100% digital<br>Hochladen und Kommunikation bequem von zu Hause aus</span>
            </div>
          </div>
          <button class="best-boxe-cta btn-cta" routerLink="/ticket">jetzt prüfen lassen <span>&#187;</span></button>
        </div>
        <div class="best-boxe boxe-thir">
          <div class="best-boxe-tito">Anwalt</div>
          <div class="best-boxe-subo"></div>
          <div class="best-boxe-face">
            <img src="assets/icon_smile1.svg" alt="icon_smile1">
          </div>
          <div class="best-boxe-list">
            <div class="best-boxe-list-cont">
              <i class="material-icons remove_circle">remove_circle</i>
              <span>Stundensatz von mindestens 90 €</span>
            </div>
            <div class="best-boxe-list-cont">
              <i class="material-icons remove_circle">remove_circle</i>
              <span>Bericht innerhalb von 1 – 2 Wochen</span>
            </div>
            <div class="best-boxe-list-cont">
              <i class="material-icons remove_circle">remove_circle</i>
              <span>Rechtlicher Prüfungsbericht</span>
            </div>
            <div class="best-boxe-list-cont">
              <i class="material-icons remove_circle">remove_circle</i>
              <span>Regelmäßige Auseinandersetzung mit mietrechtlichen Problemen (i.d.R. jedoch keine Spezialisierung auf Nebenkostenabrechnungen)</span>
            </div>
            <div class="best-boxe-list-cont">
              <i class="material-icons remove_circle">remove_circle</i>
              <span>Termin und Besuch beim Anwalt nötig</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-pres">
      <div class="pres-boxe">
        <a href="/press" target="_blank">
          <img src="assets/press_drund.svg" alt="press_drund">
          <div class="text">"Dieses Startup achtet darauf, dass Eure Mietnebenkosten nicht zu hoch sind"</div>
        </a>
      </div>
      <div class="pres-boxe">
        <a href="/press" target="_blank">
          <img src="assets/press_faznet.svg" alt="press_faznet">
          <div class="text">"Auf der Grundlage der bisher gesichteten Abrechnungen schätzt MINEKO, dass Mieter in Deutschland im Jahr etwa fünf Milliarden Euro an Nebenkosten zu viel zahlen."</div>
        </a>
      </div>
      <div class="pres-boxe">
        <a href="/press" target="_blank">
        <img src="assets/press_focus.png" alt="press_focus">
        <div class="text">"Die Auswertung von MINEKO zeigt, dass vor allem die Abrechnungen nicht stimmen, bei denen der Mieter eine Immobilie kein komplettes Jahr bewohnt hat."</div>
        </a>
      </div>
    </div>

    <div class="main-mobi">
      <div class="mobi-cont">
        <div class="mobi-phon">
          <img src="assets/phone1.png" alt="mineko_mobile">
        </div>
        <div class="mobi-info">
          <div class="mobi-info-tito">MINEKO Mobile</div>
          <div class="mobi-info-subo">einfach mit dem Handy hochladen</div>
        </div>
      </div>
      <div class="mobi-atco">
        <div class="mobi-atco-text">Prüfen Sie jetzt Ihre Abrechung von 2017 und holen Sie sich Ihr Geld zurück.</div>
        <div class="mobi-atco-butt">
          <div class="whys-cta">
            <button class="btn-cta boom" routerLink="/ticket">jetzt prüfen lassen <span>&#187;</span></button>
          </div>
        </div>
      </div>
    </div>

    <div class="main-news">
      <div class="news-cont">
        <div class="news-tito">News – Aktuelles, Fachwissen &amp; konkrete Tipps</div>
        <div class="news-subo">Informieren Sie sich zu den Themen Nebenkostenabrechnung und Heizkostenabrechnung. Unsere Experten erklären dieneuesten und bestehenden gesetzlichen Gegebenheiten und geben Ihnen hierzu hilfreiche Tipps.</div>
        <div class="news-boxo">
          <a href="#" class="news-boxo">
            <div class="news-boxo-imag">
              <img src="assets/news1.png" alt="news1">
              <div class="news-boxo-date">21.042017</div>
            </div>
            <div class="news-boxo-info">
              <h2>Grundsteuer kann rückwirkend auch noch nach Abrechnungsfrist abgerechnet werden.</h2>
              <p>Die Grundsteuer gehört zu den umlagefähigen Betriebskostenpositionen. Die Grundsteuer kann vom Finanzamt nachträglich erhöht werden und stellt deswegen eine Ausnahme zur Regelung der Abrechnungsfrist für…<br><br><img src="assets/share_news.png" alt=""></p>
            </div>
          </a>
        </div>
        <div class="news-boxo">
          <a href="#" class="news-boxo">
            <div class="news-boxo-imag">
              <img src="assets/news2.png" alt="news1">
              <div class="news-boxo-date">21.042017</div>
            </div>
            <div class="news-boxo-info">
              <h2>Grundsteuer kann rückwirkend auch noch nach Abrechnungsfrist abgerechnet werden.</h2>
              <p>Die Grundsteuer gehört zu den umlagefähigen Betriebskostenpositionen. Die Grundsteuer kann vom Finanzamt nachträglicherhöht werden und stellt deswegen eine Ausnahme zur Regelung der Abrechnungsfrist für…<br><br><img src="assets/share_news.png" alt=""></p>
            </div>
          </a>
        </div>
        <div class="news-boxo">
          <a href="#" class="news-boxo">
            <div class="news-boxo-imag">
              <img src="assets/news3.png" alt="news1">
              <div class="news-boxo-date">21.042017</div>
            </div>
            <div class="news-boxo-info">
              <h2>Grundsteuer kann rückwirkend auch noch nach Abrechnungsfrist abgerechnet werden.</h2>
              <p>Die Grundsteuer gehört zu den umlagefähigen Betriebskostenpositionen. Die Grundsteuer kann vom Finanzamt nachträglicherhöht werden und stellt deswegen eine Ausnahme zur Regelung der Abrechnungsfrist für…<br><br><img src="assets/share_news.png" alt=""></p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="main-iseo">
      <div class="iseo-cont">
        <div class="serve" [class.active]="viewmore1">
          <h2>MINEKO prüft Ihre Nebenkostenabrechnung</h2>
          <p>Unser Firmenname<strong> MINEKO</strong> ist ein Akronym, das sich aus den Anfangssilben des Wortes <b>Mi</b>et<b>ne</b>ben<b>ko</b>sten zusammensetzt. Genau um die Abrechnung dieser Kosten, die jeder Mieter einmal jährlich erhält und die aufgrund ihrer stetig steigenden Höhe inzwischen auch unter dem Namen die „zweite Miete“ bekannt sind, dreht sich alles bei MINEKO. Hier können Sie Ihre Nebenkostenabrechnung prüfen lassen: Sie laden Ihre Abrechnung nebst Mietvertrag auf unserer Internetseite hoch und erhalten innerhalb von 48 Stunden Ihr Prüfergebnis.</p>
          <span class="showhide more" (click)="viewmore1=true">mehr lesen ⇣</span>
          <span class="showhide less" (click)="viewmore1=false">weniger lesen ⇡</span>
          <div class="showhide cont">
            <p>Es ist sehr wahrscheinlich, dass Sie durch eine Überprüfung Ihrer Nebenkostenabrechnung sparen: Während laut Angaben des Deutschen Mieterbunds etwa jede zweite Nebenkostenabrechnung zu hoch ist, liegt die Quote bei den Überprüfungen von MINEKO sogar noch weit über diesem Wert: Hier erweisen sich acht von zehn Abrechnungen als nicht korrekt – und dieser Umstand führt dazu, dass unsere Kunden sich über eine
              <strong>Rückzahlung</strong> in Höhe von
              <em>durchschnittlich 221 Euro</em> freuen dürfen!
            </p>
            <p>Übrigens: Auch für Mieter, denen ihre Nachzahlung nicht außergewöhnlich hoch vorkommt, empfiehlt sich eine Prüfung: Denn wurden vom Vermieter bei der Erstellung der Abrechnung Fehler gemacht, kann eine Korrektur auch die
              <strong>Höhe zukünftiger Abschlagszahlungen verringern</strong>. Darüber hinaus kann auch ein Guthaben zu niedrig ausfallen.
            </p>
            <h3>Mietnebenkosten – was ist das eigentlich?</h3>
            <p>Jeder Mieter muss sie bezahlen, aber kaum einer weiß, was sich eigentlich genau hinter dem Begriff
              <strong>Mietnebenkosten</strong> verbirgt. Eine Definition ist nicht einfach, weil er vom Gesetzgeber – anders als im Fall der
              <strong>Betriebskosten</strong> – nicht präzise bestimmt wird. Meist ist mit beiden Termini das Gleiche gemeint. Wenn man es allerdings genau nimmt, zählen zwar alle Betriebskosten zu den Nebenkosten, aber nicht alle Nebenkosten sind Betriebskosten. So bezeichnet der Überbegriff
              <em>Nebenkosten</em> sämtliche Kosten, die dem Eigentümer eines Grundstückes für dasselbe entstehen – also beispielsweise auch Ausgaben für Reparaturen, Verwaltung oder Instandhaltung – wohingegen die einzelnen Posten, die unter die Betriebskosten fallen, genau definiert sind. Zu den Wichtigsten gehören:
            </p>
            <ul>
              <li>die Heizung und Warmwasserbereitung (warme Betriebskosten),</li>
              <li>die Wasserversorgung,</li>
              <li>die Grundsteuer,</li>
              <li>die Entwässerung (Kanalgebühren) und</li>
              <li>die Straßenreinigung bzw. Müllabfuhr.</li>
            </ul>
            <p>Unabhängig davon, wie man sie nennt: Es ist sinnvoll, die Neben- oder
              <strong>Betriebskosten prüfen</strong> zu lassen, denn häufig kommt es bei der Erstellung der Abrechnung zu Fehlern. Geschuldet ist dies nicht zuletzt dem Umstand, dass auch auf Vermieterseite teilweise Unsicherheit darüber besteht, welche Nebenkosten umlagefähig sind, d. h. dem Mieter in Rechnung gestellt werden dürfen oder wie eigentlich eine korrekte Abrechnung auszusehen hat. Es muss also gar nicht böser Wille sein, der dazu führt, dass so viele Nebenkostenabrechnungen angefochten werden können. Laden Sie jetzt Ihre Rechnung auf unserem Portal hoch oder informieren Sie sich
              <a href="/kontakt/" title="Kontakt mit dem MINEKO Team">
              per Telefon, E-Mail oder postalisch
              </a> über den Service von MINEKO, wenn Sie noch Fragen zur Prüfung Ihrer Nebenkostenabrechnung haben.
            </p>
          </div>
        </div>
        <div class="serve" [class.active]="viewmore2">
          <h2>Gründe für einen Widerspruch gegen die Nebenkostenabrechnung</h2>
          <p>Wer schon einmal versucht hat, aus seiner Mietnebenkostenabrechnung schlau zu werden, ohne einen Experten zu Rate zu ziehen, der weiß, wie schwierig es für einen Laien ist, die Rechnungslegung zu verstehen und die einzelnen Posten auf ihre Stichhaltigkeit hin zu überprüfen. Die auf das Mietrecht spezialisierten Experten bei MINEKO prüfen sämtliche Posten Ihrer Nebenkostenabrechnung auf deren rechnerische und formelle Richtigkeit und teilen Ihnen innerhalb von 48 Stunden mit, ob Ihre Abrechnung Fehler enthält und Sie zu viel gezahlt haben.</p>
          <span class="showhide more" (click)="viewmore2=true">mehr lesen ⇣</span>
          <span class="showhide less" (click)="viewmore2=false">weniger lesen ⇡</span>
          <div class="showhide cont">
            <p>Generell gilt: Der Mieter ist nur zur Zahlung derjenigen Betriebskosten verpflichtet, die im Mietvertrag aufgeführt sind. Darüber hinaus dürfen Vermieter ihren Mietern nur solche Kosten in Rechnung stellen, die regelmäßig anfallen, wohingegen alle Einmalzahlungen oder Anschaffungen ebenso wenig umlagefähig sind wie die
              <strong>Bewirtschaftungskosten</strong>, die beispielsweise Aufwendungen für die Finanzierung oder Instandhaltung einer Immobilie umfassen. Eine weitere Fehlerquelle, die oft Grund für einen Widerspruch gegen die Betriebskostenabrechnung ist, ist der sogenannte <strong>Verteilerschlüssel</strong>. Dieser legt fest, wie die Nebenkosten für die ganze Immobilie auf die einzelnen Mieter verteilt werden (allzu oft vergessen Vermieter hier z. B., dass auch leer stehende Wohnungen berücksichtigt werden müssen). Und auch eine nicht fristgerechte Zustellung der Nebenkostenabrechnung kann zu deren Ungültigkeit führen.
            </p>
            <h3>Mietnebenkosten: wichtige Fristen</h3>
            <p>Grundsätzlich hat der Vermieter nach Ablauf des Abrechnungszeitraums, in der Regel ein Kalenderjahr (bzw. exakt: 366 Tage) Zeit, eine Mietnebenkostenabrechnung zu erstellen und dem Mieter zukommen zu lassen – Forderungen, die erst nach Ablauf dieser Frist gestellt werden, sind ungültig und müssen nicht bedient werden. Auch ist der Vermieter nur innerhalb des genannten Zeitraums berechtigt,
              <strong>Korrekturen an seiner Abrechnung vorzunehmen</strong>, wenn der Mieter Mängel feststellt und Widerspruch einlegt.
              <br> Für den Mieter dagegen beginnt mit Erhalt der Nebenkostenabrechnung eine Frist von zwölf Monaten, in denen er diese beanstanden kann. Hier ist jedoch unbedingt darauf zu achten, dass der Mieter verpflichtet ist, eine durch den Vermieter geforderte
              <strong>Nachzahlung innerhalb von 30 Tagen</strong> zu begleichen – wenn die Prüfung zu diesem Termin noch nicht vorgenommen wurde, empfiehlt sich eine
              <strong>Zahlung unter Vorbehalt</strong>, um zu einem späteren Zeitpunkt besser eine Anfechtung in die Wege zu leiten und leichter zu viel bezahlte Kosten zurückholen zu können.
            </p>
            <p>
              Der optimale Zeitpunkt für einen Widerspruch gegen die Mietnebenkostenabrechnung ergibt sich aus der Überschneidung der beiden Fristen. Denn wenn die Frist, innerhalb derer der Vermieter an seiner Rechnung Korrekturen zulasten des Mieters vornehmen kann, abgelaufen ist, die Widerspruchsfrist des Mieters aber noch nicht, können Beanstandungen für diesen nur einen positiven Effekt haben oder sie führen unter Umständen sogar zur <strong>Ungültigkeit der Nebenkostenabrechnung</strong> und damit auch eines Nachzahlungsbescheids.
            </p>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="main-foot">
    <div class="foot-cont">
      <div class="foot-boxo">
        <div class="foot-boxo-tito">MINEKO</div>
        <div class="foot-boxo-info">
          <ul>
            <li><a href="#">Impressum</a></li>
            <li><a href="#">AGB</a></li>
            <li><a href="#">Datenschutz</a></li>
            <li><a href="#">Abrechnung prüfen lassen</a></li>
          </ul>
        </div>
      </div>
      <div class="foot-boxo">
        <div class="foot-boxo-tito">ÜBER UNS</div>
        <div class="foot-boxo-info">
          <ul>
            <li><a href="#">Kontakt</a></li>
            <li><a href="#">Häufig gestellte Fragen</a></li>
            <li><a href="#">Presse</a></li>
            <li><a href="#">News</a></li>
          </ul>
        </div>
      </div>
      <div class="foot-boxo">
        <div class="foot-boxo-tito">FOLGEN SIE UNS</div>
        <div class="foot-boxo-info">
          <ul>
            <a href="https://www.facebook.com/MINEKO.de/"><img src="assets/social_facebook.png" alt="MINEKO Facebook"></a>
            <a href="https://twitter.com/MINEKO_korrekt"><img src="assets/social_twitter.png" alt="MINEKO Twitter"></a>
            <a href="https://www.instagram.com/MINEKO_korrekt/"><img src="assets/social_instangram.png" alt="MINEKO Instagramm"></a>
            <a href="https://www.xing.com/companies/MINEKOgmbh"><img src="assets/social_xing.png" alt="MINEKO Xing"></a>
          </ul>
        </div>
      </div>
      <div class="foot-boxo">
        <div class="foo-trut">
          <button class="foo-trut-cta btn-cta" routerLink="/ticket">jetzt prüfen lassen <span>&#187;</span></button>
          <img src="assets/trust_payment.png" alt="trust_payment">
          </div>
        </div>
    </div>
    <div class="foot-subo">© 2017 MINEKO GmbH. Alle Rechte vorbehalten. Made with love in Berlin.</div>
  </div>

</div>
